:root{
  --blue: #334f7d;
  --grey: #8998ae;
}

.header{
  height: 100px;
  width: 100vw;
  background-color:  var(--blue);
  position: relative;
  z-index: 2;;
}

.background-image{
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 200vw;
  left: -100px;
  opacity: .15;;
}

.logo-image{
  height: 250px;
  width: 300px;
  position: absolute;
  left: 37px;
  top: 15px;
  z-index: 2;
}

.footer{
  position: relative;
  z-index: 2;
  margin-top: 400px;
  width: 100vw;
  height: 167px;
  background-color: var(--blue);
  color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer>div{
  margin: auto;
  font-size: 3vh;
  text-align: center;
  font-family: Lora, serif;
  line-height: 4vh;
}

a{
  text-decoration: none;
  color: var(--grey);
}